html, body {
	background: #000;
	color: #FFF;
	text-align: center;
}

.buttons {
	display: inline-block;
	width: 100%;
	height: 100%;
	border: 1px solid green;
}

.buttons button {
	font-size: 1.5em;
	width: 100%;
	height: 100%;
}

#select_timer {
	display: inline-block;
	width: 25%;
	float: left;
	border: 1px solid white;
}

#start_stop {
	display: inline-block;
	width: 25%;
	float: right;
	border: 1px solid white;
}

#title {
	display: inline-block;
	width: 100%;
	margin-top: 5%;
	font-size: 2em;
	border: 1px solid white;
}

#timer {
	display: inline-block;
	width: 100%;
	font-size: 8em;
	margin-bottom: 10%;
	border: 1px solid orange;
}

#set_time {
	display: inline-block;
	width: 100%;
	font-size: 1.5em;
	border: 1px solid green;
}

#set_break {
	display: inline;
	float: left;
	border: 1px solid white;
	width: 40%;
}

#set_break button, div {
	display: inline;
	width: 30%;
}

#set_work {
	display: inline;
	float: right;
	border: 1px solid white;
	width: 40%;
}

#set_work button, div {
	display: inline;
	width: 30%;
}

footer {
	margin-top: 10%;
	border: 1px solid blue;
}
